
    <div class="container my-5">
      <div class="row">
          <div class="col-1">
          </div>

          <div class="col-10">


            <div class="card align-items-center" >
              <img class="card-img-top" src="https://images.unsplash.com/photo-1472746729193-36ad213ac4a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80"  alt="Card image cap">
              <div class="card-body">
                <h1 class="card-title text-center">The Gossip Project</h1>
                <p class="card-text text-center">The Gossip Project répertorie tous les potins de THP</p>
              </div>
            </div>

            <div class="card-body d-flex justify-content-between">
              <%= link_to "Crée un potin", new_gossip_path %>
							<%= link_to "Liste des villes", cities_path %>
              <%= link_to "Choisis un potin avec son ID!" , search_path %> <!-- Je mets 0 car on ne connait pas l'id du gossip à créer -->
            </div>

          </div>

          <div class="col-1">
          </div>
      </div>
    </div>

     <div class="container my-5">
      <div class="row">
          <div class="col-1">
          </div>

          <div class="col-10">

            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <strong> La liste de tous les potins </strong>
                <span class="badge badge-primary badge-pill"> <%= Gossip.all.length %></span>
              </li>
        
              <% Gossip.all.each_with_index do |gossip, index| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="col"><span><%= link_to gossip.title, gossip_path((index+1).to_s) %></span></span>
                
                <span class="col text-right"><span class="badge badge-primary badge-pill">par <%= link_to gossip.author.user_name, user_path(gossip.author.id), {:style=>'color:#FFFFFF'} %> <%= link_to "(#{gossip.author.city.name})", city_path(gossip.author.city.id), {:style=>'color:#FFFFFF'} %></span></span>
              </li>
              <% end %>
            </ul>

          </div>

          <div class="col-1">
          </div>
        </div>
      </div>
